body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  color: white;
  padding: 2rem;
  background-color: #222831;
}

hr {
  border: none;
  height: 1px;
  background-color: #393e46;
}

#timer {
  font-size: 5rem;
}

#logo {
  width: 100px;
}

.classic-btn {
  -webkit-app-region: no-drag;
  background-color: #00a8cc;
  border-radius: 20px;
  color: #eeeeee;
  font-size: 1.5rem;
  height: 45px;
  width: 200px;
  transition: 0.2s;
  border: none;
  cursor: pointer;
  margin: 5px;
  outline: none;
}
